/*@font-face {
  font-family: 'hugs';
  src: url('../fonts/Hughs.otf');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  font-family: hugs;
  vertical-align:baseline
}*/
body, html{
  /*font-family: 'Merienda', cursive;
  font-family: 'Roboto', sans-serif;*/
  font-family: 'Prompt', sans-serif;
  position: relative;
  /*font-family: 'Metrophobic', sans-serif;*/
}
a:link{
  text-decoration: none;
}

.logo-brand{
  height:5rem;
  width: 30% !important; 
}
.redes-sociales{
  object-fit: fill;
  width: 48px;
  height: 48px;
}
.modal-friends{
  background-color: #202a35;
  color: #ffffff;
}
.modal-friends a{
  color: #ffffff !important;
}
.btn-modal{
  display: flex;
  justify-content: center;
}
.text-friends {
  color: #3e7fc9 !important;
}
.text-container-friends{
  font-size: 1.2rem !important;
}

.btn-friends {
  background-color: #F1C40F;
  color:#393d42;
  font-size: 1rem;
}
.btn-friends-modal{
  background-color: #25d366;  
  color:#ffff;
  font-size: 1rem;
}
.btn-friends-modal:hover{
  background-color: #128c7e;  
  color:#ffff;
  font-size: 1rem;
}
.bg-friends{
  background-image: url("../img/sections/evento.jpg");
  color: #ffff;
  background-size: cover;
  height:  70vh;
}

.btn-friends:hover {
  background-color: #D4AC0D;
}

#header img {
  width: 80px;
}

#main .carousel-inner img {
  max-height: 100vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
video{
  
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto; 
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}
#slogan .overlay {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#slogan img{
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
#slogan .overlay .container,
#slogan .overlay .row {
  height: 100%;
}
#nosotros {
  background-color: #343a40;
  color: white;
}

#nosotros img {
  max-width: 100%;
}
#eventos {
  background-color: #343a40;
  color: white;
}

#eventos img {
  max-width: 100%;
}
#miembros {
  background-color: #3a3440a1;
  color: white;
}

#miembros img {
  max-width: 100%;
}
#beneficios {
  background-color: #3b5d64;
  color: white;
}

#beneficios img {
  max-width: 100%;
}


#footer {
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}

#footer a {
  color: white;
}
/*hoover effects*/
